﻿@model TodoItem

<!DOCTYPE html>
<html>
<head>
    <title>Add New Todo</title>
</head>
<body>
    <h1>Add New Todo</h1>
    <form asp-action="Create" method="post">
        <label for="task">Task:</label>
        <input id="task" name="Task" type="text" required />
        <button type="submit">Add</button>
    </form>
</body>
</html>