﻿@model List<TodoItem>

<!DOCTYPE html>
<html>
<head>
    <title>Todo List</title>
</head>
<body>
    <h1>Todo List</h1>
    <ul>
        @foreach (var item in Model)
        {
            <li>
                @item.Task
                @if (item.Completed)
                {
                    <text>(Completed)</text>
                }
                else
                {
                    <text>(Not completed)</text>
                }
                <form asp-action="Toggle" asp-route-id="@item.Id" method="post" style="display:inline;">
                    <button type="submit">Toggle completion</button>
                </form>
                <form asp-action="Delete" asp-route-id="@item.Id" method="post" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>
            </li>
        }
    </ul>
    <a asp-action="Create">Add new todo</a>
</body>
</html>